<mat-card class="mt-4" >
    <h1 class="text-center mt-5">Update Question</h1>
    <div class="row justify-content-center">
        <div class="col-md-10">
            <!-- If we give class "row" in form tag then, the "mat-form-field" will take space
            According to the typography like col-md-10, col-md-6 -->
            <form class="row" [formGroup]="updateQuestionForm" (ngSubmit)="updateQuestion()">
            <mat-form-field appearance="outline">
                <mat-label>Question</mat-label>
                <input type="text" name="" id="" formControlName="content" [ngModel]="updateData.content" matInput placeholder="Enter Question here...">
            </mat-form-field>
            <mat-form-field class="col-md-6" appearance="outline">
                <mat-label>Option A:</mat-label>
                <input type="text" name="" id="" formControlName="option1" [ngModel]="updateData.option1"  matInput placeholder="Enter Option A...">
            </mat-form-field>
            <mat-form-field class="col-md-6" appearance="outline">
                <mat-label>Option B:</mat-label>
                <input type="text" name="" id="" formControlName="option2" [ngModel]="updateData.option2" matInput placeholder="Enter Option B...">
            </mat-form-field>
            <mat-form-field class="col-md-6" appearance="outline">
                <mat-label>Option C:</mat-label>
                <input type="text" name="" id="" formControlName="option3" [ngModel]="updateData.option3" matInput placeholder="Enter Option C...">
            </mat-form-field>
            <mat-form-field class="col-md-6" appearance="outline">
                <mat-label>Option D:</mat-label>
                <input type="text" name="" id="" formControlName="option4" [ngModel]="updateData.option4" matInput placeholder="Enter Option D...">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Answer</mat-label>
                <mat-select formControlName="answer" [ngModel]="updateData.answer">
                    <mat-option [value]="updateData.option1">{{updateData.option1}}</mat-option>
                    <mat-option [value]="updateData.option2">{{updateData.option2}}</mat-option>
                    <mat-option [value]="updateData.option3">{{updateData.option3}}</mat-option>
                    <mat-option [value]="updateData.option4">{{updateData.option4}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="container text-center mb-5">
                <button mat-raised-button color="primary">Update Question</button>
            </div>
        </form>
        </div>
    </div>
</mat-card>